.buttonWrap{
    
    cursor: pointer;
    width: min-content;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: white;
    background: #292929;
    border-radius: 50px;
    padding: 0.1px;
    .test{
        margin: 10px 25px 10px 25px;
    }
    &:hover{
        background-color: black;
        transition: background-color 0.2s ease-in-out;
    }
}