.titleMainPageContentItem{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    color: #000000;
}
.textMainPageContentItem{
    
    margin-left: 2px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    color: rgba(41, 41, 41, 0.9);
    margin-bottom: 25px;
}