.wrapBunnerNewCollection{
    
    height: 740px;
    background-position: top;
    background-size: cover;
    .newCollectInfo{
        position: relative;
        bottom: -370px;
        width: 500px;
        margin-left: 70px;
    }
}