.tableControl{
    border: 1px solid black;
    width: 100%;
    border-collapse: collapse;
    font-size: 15px;
    text-align: center;
    tr,td,th{
        border: 0.2px solid black; 
        padding: 5px;
    }
    
}
.itemCollectionAdd{
    cursor: pointer;
    &:hover{
        background-color: darken(white, 5%);
    }
}
.imgTable{
    height: 80px;
}
.saveItemControl :hover{
    path{fill: blue}
    
}
.deleteItemControl :hover{
    path{fill: red}
    
}
.squaredOne1 {
    cursor: pointer;
    width: 15px;
    height: 15px;
    padding: 4px;
    margin-right: 5px;
    background: rgba($color: #C4C4C4, $alpha: 0.2);
    border: 1px solid rgba($color: #000000, $alpha: 0.3);
    .squaredTwo {
       
        width: 100%;
        height: 100%;
        background: #727272;
        
    }
}
td textarea{
    font-family: 'Montserrat';
    font-size: 15px;
}
tr{
    vertical-align: top;
}