.wrapControl{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    .controlTitle{
        width: 30%;
        display: flex;
        align-items: center;
        font-size: 34px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 300;
        letter-spacing: 0.015em;
        margin-left: 10px;
    }
    .sectionControl{
        display: flex;
        margin: 0 auto;
        align-items: center;
        font-size: 18px;
       
        .sectionControlItem{
            min-width: fit-content;
            border-bottom: solid 1px rgba(41, 41, 41, 0);
            &:hover{
                border-bottom: solid 1px rgba(41, 41, 41, 0.8);
            }
            cursor: pointer;
        }
    }
    .logOutControlWrap{
        width: 30%;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        font-size: 18px;
        padding-right: 20px;
    }
    .logOutControl{
        border-bottom: solid 1px rgba(41, 41, 41, 0);
        &:hover{
            border-bottom: solid 1px rgba(41, 41, 41, 0.8);
        }
        cursor: pointer;
    }
}