.HeaderModal{
    font-weight: 600;
    font-size: 24px;
    text-align: center;
}
.textDataModal{
    font-weight: normal;
    font-size: 16px;
    font-weight: 500;
    justify-content: space-between;
    border-radius: 50px;
}
.nameSizeModal{
    width: 33%;
    text-align: center;

}